Package: com.mootjeuh.taptotranslate
Name: Tap to Translate
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Android-like Tap to Translate for iOS 
Maintainer: Mohamed Marbouh
Author: Mohamed Marbouh
Section: Tweaks
Version: 0.1-1
Installed-Size: 11492
